<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="theme-color" content="#E64545">
        <link rel="icon" href="https://dhaynes.xyz/img/dhaynes.jpg">
        <title>Last Player</title>
    </head>

    <body>
        <!-- React will inject itself here  -->
        <div id="root"></div>
    </body>

    <!-- Dependencies -->
    <script src="https://fb.me/react-0.14.3.js"></script>
    <script src="https://fb.me/react-dom-0.14.3.js"></script>

    <!-- Main -->
    <script src="../static/bundle.js"></script>
</html>
